INSERT INTO census_passthroughs
(
    DBKEY,
    AUDITYEAR,
    ELECAUDITSID,
    PASSTHROUGHNAME,
    PASSTHROUGHID
)
VALUES(
    {{DBKEY}},--DBKEY
    {{AUDITYEAR}},--AUDITYEAR
    {% if ELECAUDITSID  is ne '' %}{{ELECAUDITSID}}{% else %}NULL{% endif %},--ELECAUDITSID
    {% if PASSTHROUGHNAME  is ne '' %}'{{PASSTHROUGHNAME}}'{% else %}NULL{% endif %},--PASSTHROUGHNAME
    {% if PASSTHROUGHID  is ne '' %}'{{PASSTHROUGHID}}'{% else %}NULL{% endif %}--PASSTHROUGHID
);



