INSERT INTO census_findings
(
    DBKEY,
    AUDITYEAR,
    ELECAUDITSID,
    ELECAUDITFINDINGSID,
    FINDINGSREFNUMS,
    TYPEREQUIREMENT,
    MODIFIEDOPINION,
    OTHERNONCOMPLIANCE,
    MATERIALWEAKNESS,
    SIGNIFICANTDEFICIENCY,
    OTHERFINDINGS,
    QCOSTS,
    REPEATFINDING,
    PRIORFINDINGREFNUMS
)
VALUES
(
    {{DBKEY}},--DBKEY
    {{AUDITYEAR}},--AUDITYEAR
    {{ELECAUDITSID}},--ELECAUDITSID
    {{ELECAUDITFINDINGSID}},--ELECAUDITFINDINGSID
    {% if FINDINGSREFNUMS is ne '' %}'{{FINDINGSREFNUMS}}'{% else %}NULL{% endif %},--FINDINGSREFNUMS
    {% if TYPEREQUIREMENT is ne '' %}'{{TYPEREQUIREMENT}}'{% else %}NULL{% endif %},--TYPEREQUIREMENT
    {% if MODIFIEDOPINION is ne '' %}'{{MODIFIEDOPINION}}'{% else %}NULL{% endif %},--MODIFIEDOPINION
    {% if OTHERNONCOMPLIANCE is ne '' %}'{{OTHERNONCOMPLIANCE}}'{% else %}NULL{% endif %},--OTHERNONCOMPLIANCE
    {% if MATERIALWEAKNESS is ne '' %}'{{MATERIALWEAKNESS}}'{% else %}NULL{% endif %},--MATERIALWEAKNESS
    {% if SIGNIFICANTDEFICIENCY is ne '' %}'{{SIGNIFICANTDEFICIENCY}}'{% else %}NULL{% endif %},--SIGNIFICANTDEFICIENCY
    {% if OTHERFINDINGS is ne '' %}'{{OTHERFINDINGS}}'{% else %}NULL{% endif %},--OTHERFINDINGS
    {% if QCOSTS is ne '' %}'{{QCOSTS}}'{% else %}NULL{% endif %},--QCOSTS
    {% if REPEATFINDING is ne '' %}'{{REPEATFINDING}}'{% else %}NULL{% endif %},--REPEATFINDING
    {% if PRIORFINDINGREFNUMS is ne '' %}'{{PRIORFINDINGREFNUMS}}'{% else %}NULL{% endif %} --PRIORFINDINGREFNUMS
);









