@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Welcome to the FAC Data Miner</h4>
    

    <p class="mt-5 text-left">
            This site is an alternative search method for GSA collected FAC disseminated data that loosely models
            itself after the previous U.S Census Bureau Dissemination System (IMS - Image Management System) 
    </p>

    <p class="mt-5 text-left">
        You can use our <a asp-controller="Search" asp-action="Index">Search</a> functionality to build search criteria dynamically 
        to drill down into FAC collected data 
    </p>
    
    <p class="mt-5 text-left">
        This is a work in progress and your input matters! Please submit any feedback via our feedback process to have 
        your voice heard on what you would like to see in this online tool.
    </p>
    
    
</div>