@{
    ViewData["Title"] = "Home Page";
}
    
<div class="row">
    <div class="col-6 col-offset-4">
        <div class="text-center">
            <h4>Welcome to the FAC Data Miner</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-offset-4">
        <p class="text-left">
            This site is an alternative search method for GSA collected FAC disseminated data that loosely models
            itself after the previous U.S Census Bureau Dissemination System (IMS - Image Management System)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-6 col-offset-4">
        <p class="text-left">
            You can use our <a asp-controller="Search" asp-action="Index">Search</a> functionality to build search criteria dynamically
            to drill down into FAC collected data
        </p>
    </div>
</div>
<div class="row">
    <div class="col-6 col-offset-4">
        <p class="text-left">
            This is a work in progress and your input matters! Please submit any feedback via our feedback process to have
            your voice heard on what you would like to see in this online tool.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-6 col-offset-4">
    <p class="text-left">
        If you would like to like to contribute indirectly, you can always
        <a href="https://buymeacoffee.com/rickflagg">
            <img class="buy-me-a-coffee-img" src="images/default-yellow-1772554622.png"/>
        </a>
    </p>
    </div>
</div>
